<app-menu></app-menu>
<div class="row">

    <div class=col-md-12>
        <img src="./assets/images/prevenir/familia.jpg" style="max-width: 100%; padding-top: 65px; width: 100%;">
    </div>

</div>

<div class="contenido">

    <div class="row">
        <div class=col-md-1></div>
        <div class="col-md-10">
            <h2 class="text-center tituloPrincipal"> ¿Quienes Somos?</h2>
            <p>Somos una corporación especializada en la coordinación de planes de <strong>Previsión Exequial</strong> individuales y masivos de las más prestigiosas empresas del sector público y privado. Como valor agregado contamos con una red de médicos
                especialistas y profesionales en todas las áreas que nos posicionan como la empresa con más servicios agregados para nuestros afiliados y así convertirnos en la más importante y sólida compañía de previsión funeraria del país.</p>
        </div>
        <div class=col-md-1></div>
    </div>


    <div class="row">
        <div class=col-md-1></div>
        <div class="col-md-5">
            <h2 class="text-center tituloPrincipal"> PREVENIR EXPRESS SAS</h2>
            <h3 class="Subtitulo"> Objetivos</h3>
            <p>Brindar opciones integrales que proporcionen tranquilidad a nuestros clientes y apoyárlos en cada uno de los procesos del duelo.</p>
            <p>Implementar día a día alianzas estratégicas que permitan satisfacer las necesidades de nuestros Afiliados de una manera automatizada implementando la tecnología para dicho fin.</p>

        </div>
        <div class="col-md-5">
            <h2 class="text-center tituloPrincipal"> INFRAESTRUCTURA ALIADA</h2>
            <p>COBERTURA ENTODO EL PAIS…… contamos con más de 4.500 salas de velación en todo el país a su disposición en convenios directos o con terceros para cumplir con lo prometido.</p>
        </div>
        <div class=col-md-1></div>
    </div>

    <div class="row">
        <div class=col-md-1></div>
        <div class="col-md-10">
            <h2 class=" tituloPrincipal"> CLIENTES ALIADOS.</h2>
            <p>Gracias a nuestras alianzas son más de 46.000 usuarios vinculados por libranza que cuentan con nuestra calidad en el Servicio: SECRETARIAS DE EDUCACION, GOBERNACIONES, ALCALDÍAS, ASOCIACIONES FONDOS DE EMPLEADOS “FOPEP”. “Entidades públicas
                y privadas” </p>

        </div>

        <div class=col-md-1></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <h2 class="text-center tituloPrincipal"> POR QUÉ NOS PREFIEREN:</h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="sliderPalabras">Por la tranquilidad que sienten al saber que en nuestras manos están Protegidos para cuando llegue el momento de la perdida de uno de sus seres queridos.</p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por que cuentan con el respaldo de una empresa solida responsable y comprometida con amor con su visión. </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por qué otorgamos soluciones inmediatas e integrales con herramientas tecnológicas y valores agregados que logran satisfacer y superar las expectativas de cada uno de nuestros afiliados. </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Porque Trabajamos por generar frutos día a día, que permitan el manejo sostenible de la compañía para preservar la integridad y los beneficios de nuestros afiliados.</p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por ir siempre actualizados con las nuevas tendencias del mercado funerario.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por tener un servicio con precios accequibles para toda la población Colombia.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por permitir escuchar sus sugerencias, asi reforzar los lazos con nuestros clientes, para quedarnos siempre en sus hogares como parte de su familia.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por ser cada día más humana y exigente la calidad de nuestro servicio.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <p class="sliderPalabras">Por ser la única compañía con garantía del servicio funerario “6 meses para cualquier reclamación por inconformidad en cualquiera de los procedimientos del servicio con alguno de nuestras funerarias aliadas”.
                        </p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>


</div>
<app-footer></app-footer>