
    
    
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
           <h1>Carousel</h1>
              <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="http://placehold.it/250"></a>
        <a class="carousel-item" href="#two!"><img src="http://placehold.it/250"></a>
        <a class="carousel-item" href="#three!"><img src="http://placehold.it/250"></a>
        <a class="carousel-item" href="#four!"><img src="http://placehold.it/250"></a>
        <a class="carousel-item" href="#five!"><img src="http://placehold.it/250"></a>
      </div>
              
              
          </div>
    
        </div>

    
    
      </div>
    
      