<!-- <app-menu></app-menu> -->

<div class="container">
    <div class="text-center">
        <h4 class="display-4">Formulario de inscripción</h4>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-7">
            <form>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Nombres</label>
                        <input type="text" class="form-control" placeholder="Nombres">
                    </div>
                    <div class="col">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control" placeholder="Apellidos">
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col">
                        <label class="form-label">tipo Documento</label>
                        <select class="form-control">
                            <option>C.C</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Numero de documento</label>
                        <input type="text" class="form-control" placeholder="No. de identificación.">
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col">
                        <label class="form-label">Correo electronico</label>
                        <input type="text" class="form-control" placeholder="ejemplo@email.com">
                    </div>
                    <div class="col">
                        <label class="form-label">Número de celular</label>
                        <input type="text" class="form-control" placeholder="No. de contacto.">
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col">
                        <label class="form-label">Departamento</label>
                        <select class="form-control">
                            <option>Nariño</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Ciudad</label>
                        <select class="form-control">
                            <option>Pasto</option>
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control" placeholder="Dirección">
                    </div>

                    <div class="col">
                        <label class="form-label">Barrio</label>
                        <input type="text" class="form-control" placeholder="Barrio">
                    </div>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col">
                        <label class="form-label">Profesión</label>
                        <input type="text" class="form-control" placeholder="Profesión">
                    </div>

                    <div class="col">
                        <label class="form-label">Empresa donde labora</label>
                        <input type="text" class="form-control" placeholder="Empresa donde labora">
                    </div>
                </div>
            </form>

            <div class="text-center" style="padding-top: 30px;">
                <button class="btn btn-primary">Agregar Beneficiario</button>
            </div>
        </div>

        <div class="col-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="text-center"><img style="max-height: 400px" src="../../../assets/publicidad2.png" alt=""></div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="carta" style="padding-top: 15px;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Resumen de suscripción</h5>

                                <div class="row">
                                    <div class="col-8">
                                        <p>Valor suscripcion por año</p>
                                    </div>
                                    <div class="col-4 text-right">20 lks</div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <p>Número de beneficiarios</p>
                                    </div>
                                    <div class="col-4 text-right">2</div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <p>Total beneficiarios</p>
                                    </div>
                                    <div class="col-4 text-right">40 lks</div>
                                </div>

                                <div class="row">
                                    <div class="col-8">
                                        <h5>Total</h5>
                                    </div>
                                    <div class="col-4 text-right">60 lks</div>
                                </div>

                                <div class="card-header"></div>
                                <div class="text-center" style="padding-top: 5px;">
                                    <button class="btn btn-primary">Pagar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>