
<nav class="navbar fixed-top justify-content-center navbar-expand-lg navbar-light bg-light" style="
border-bottom: 4px solid #00aeef;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><div style="color:#00aeef;">Menú</div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="col-md-12">
      <div class="row">

        <div class="col-md-2">
        <a href="./"> <img src="./assets/images/prevenir/logo.png" max-width="100%" width="100%" alt="PrevenirExpressLogo" style="padding: 15px; display: block; margin: auto; width:220px;" /></a>
       </div>
       <div class="col-md-7 " style="padding-top: 3vw;">
        <ul class="navbar-nav nav justify-content-center mr-auto">
          <li class="menu nav-item" >
            <a class="menuItems cerrarMenu" [routerLink]="['/inicio']" routerLinkActive="active-navegacion" >Inicio</a>
         </li>
         <li class="menu nav-item">
            <a class="menuItems cerrarMenu" [routerLink]="['/quienes-somos']" routerLinkActive="active-navegacion" >Quienes somos</a>
        </li>
        <li class="menu nav-item">
          <a class="menuItems cerrarMenu" [routerLink]="['/planes']" routerLinkActive="active-navegacion" >Planes</a>
       
      </li>
       <li class="menu nav-item ">
        <a class="menuItems cerrarMenu" [routerLink]="['/galeria']" routerLinkActive="active-navegacion" >Galeria</a>
      </li>
       <li class="menu nav-item ">
        <a class="menuItems cerrarMenu" [routerLink]="['/obituario']" routerLinkActive="active-navegacion" >Obituario</a>
      </li>
      <li class="menu nav-item ">
        <a class="menuItems cerrarMenu" [routerLink]="['/contactenos']" routerLinkActive="active-navegacion" >Contáctenos</a>
      </li>
      <li class="menu nav-item ">
        <a class="menuItems cerrarMenu" [routerLink]="['/terminos-condiciones']" routerLinkActive="active-navegacion" >Términos y Condiciones</a>
      </li>
    </ul></div>
    <div class="col-md-2 navSegundo">
      <!-- <div class="tituloHorario">Horario Oficinas Administrativas: </div><p style="text-align: center !important; padding-bottom: 0px !important;">Lun a Vier. 8am-12pm, 2pm-6pm / Sáb. 8am-12pm</p> -->
      <div class="">ATENCIÓN AL CLIENTE </div>
      <div class="tituloHorario"><a class="pr" href="callto:(032)7290038">(032)7290038</a> - <a class="pr" href="callto:(+57)3104351937">+57-3104351937</a></div>
       
    </div>
    <div class="col-md-1 navSegundo">
            <div class="flotanteCompu"><a href="https://api.whatsapp.com/send?phone=573104351937&text=Hola!%20quiero%20saber%20más%20de%20Prevenir%20Express!"><img src="./assets/images/prevenir/whatsIcon.png" style="margin: auto; display: block; width: 60px;"></a></div>
        </div>
  </div>


</div>


</div>
</nav>

